version: 2.1

defaults: &defaults
  working_directory: ~/circle-ci-studies

workflows:
  push_image:
    jobs:
      - echo_test:
          filters:
            branches:
              only:
              - develop
      - push_to_stg:
          context: Cloud Secrets
          filters:
            branches:
              only:
              - develop
      - push_to_prd:
          context: Cloud Secrets
          filters:
            branches:
              only:
              - main

jobs:
  echo_test:  
    docker:
      - image: alpine
    steps:
      - run:
          name: Just echo a random keyword
          command: echo "CIRCLE_CI_TEST"
  
  push_to_stg:
    <<: *defaults  
    docker:
      - image: volanty/volanty-image
    steps:
      - checkout
      - run:
          name: Push to STG Container Registry
          command: |
            echo ${SA_KEY_HML} | base64 -d >> /tmp/sa.json
            push-image circle-ci-studies ${CIRCLE_SHA1} mangoo-hml /tmp/sa.json --base-repo=us.gcr.io/mangoo-hml
  push_to_prd:
    <<: *defaults  
    docker:
      - image: volanty/volanty-image
    steps:
      - checkout    
      - run:
          name: Push to PRD Container Registry
          command: |
            echo ${SA_KEY} | base64 -d >> /tmp/sa.json
            push-image circle-ci-studies ${CIRCLE_SHA1} moraesjeremias-studies /tmp/sa.json --base-repo=us.gcr.io/moraesjeremias-studies

